.jumbotron {
  padding-top: 6rem;
  background-color: #b3b3ff
}

#biodata {
  background-color: #80ff80
}

#kontak {
  padding-top: 3rem;
  background-color: #aaff80
}

section {
  padding-top: 6rem;
}
